.admin-profile-container {
    display: flex;
    margin: 30px;
    flex-wrap: wrap;
    margin-bottom: 30px;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.admin-profile {
    display: flex;
    justify-content: center;
}


.update-admin-profile {
    border: solid #023047;
    padding: 20px;
    border-radius: 15px;
    background-color: #1d849e;
    color: whitesmoke;
    width: 350px;
    display: flex;
    text-align: right;
    align-items: center;
    justify-content: center;
}

.admin-profile-container h2 {
    text-align: center;
}

.admin-update-profile input {
    margin: 3px 0px 3px 10px;
}

.admin-order-history {
    border: solid #023047;
    padding: 20px;
    border-radius: 15px;
    background-color: #1d849e;
    color: whitesmoke;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.admin-add-products {
    border: solid #023047;
    padding: 20px;
    border-radius: 15px;
    background-color: #1d849e;
    color: whitesmoke;
    width: 500px;
    display: flex;
    text-align: right;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.admin-users {
    border: solid #023047;
    padding: 20px;
    border-radius: 15px;
    background-color: #1d849e;
    color: whitesmoke;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}