.admin-profile-container {
    display: flex;

    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.admin-profile-title {
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.admin-links-container {
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;

}

.admin-edit-products {
    padding: 20px;
    border-radius: 15px;
    background-color: #1d849e;
    padding: 20px;
    border-radius: 15px;
    background-color: #1d849e;
    color: whitesmoke;
    width: 500px;
    display: block;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin: 0 auto;
}

.admin-order-history {
    padding: 20px;
    border-radius: 15px;
    background-color: #1d849e;
    color: whitesmoke;
    width: 500px;
    display: block;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin: 0 auto;
}

.admin-users {
    padding: 20px;
    border-radius: 15px;
    background-color: #1d849e;
    color: whitesmoke;
    width: 500px;
    display: block;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin: 0 auto;
}