.admin-login-page {
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin-login-container {
    border: solid #023047;
    padding: 20px;
    border-radius: 15px;
    background-color: #1d849e;
    color: whitesmoke;
    width: fit-content;

    align-items: center;
    margin-bottom: 100px;
    position: relative;

    text-align: right;
    align-items: center;
    justify-content: center;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.admin-login-title {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.admin-login-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}