
.admin-login {
    border: solid #023047;
    padding: 20px;
    border-radius: 15px;
    background-color: #1d849e;
    color: whitesmoke;
    width: 350px;
    display: flex;
    flex-direction: column;
    text-align: right;
    align-items: center;
    margin-bottom: 100px;
    position: relative;
    justify-content: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.admin-login label {
    display: inline-block;
}


.admin-forms input {
    display: inline-block;
}

.admin-forms button {
    text-align: center;
}