.all-users-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.single-user-container {
    display: "flex";
    flex-direction: "row";
    margin-top: 15px;
    margin-bottom: 15px;
    color: whitesmoke;
    border: solid #023047;
    border-radius: 15px;
    padding: 15px;
    background-color: #1d849e;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.user-delete {
    display: "flex";
    margin-top: 15px;
    align-items: center;
}

.back-button {
    display: "flex"
}