* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer {
    background-color: lightgray;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin-top: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;
    position: relative;
    bottom: 0;
}

.contact-us {
    display: flex;
    justify-content: center;
    width: 20vw;
    border: solid #023047;
    padding: 5px;
    border-radius: 15px;
    background-color: #1d849e;
    color: whitesmoke;
    width: 150px;
}

.admin-login-form {
    display: flex;
    justify-content: center;
    width: 20vw;
    border: solid #023047;
    padding: 5px;
    border-radius: 15px;
    background-color: #1d849e;
    color: whitesmoke;
    width: 150px;
}

.admin-logout {
    display: flex;
    justify-content: center;
    width: 20vw;
    border: solid #023047;
    padding: 5px;
    border-radius: 15px;
    background-color: #1d849e;
    color: whitesmoke;
    width: 150px;
    margin-top: 5px;
}

.admin-page {
    display: flex;
    justify-content: center;
    width: 20vw;
    border: solid #023047;
    padding: 5px;
    border-radius: 15px;
    background-color: #1d849e;
    color: whitesmoke;
    width: 150px;
}

.foot-links:hover {
    color: #fb8500;
    text-decoration: none;
}