* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    background: url(https://img.freepik.com/premium-photo/empty-hockey-arena_336913-490.jpg?w=2000) no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
}

.delete-later {
    color: #fb8500;
}

.head-links {
    margin: 10px;
    color: black;
}

.head-links:hover {
    color: #fb8500;
    text-decoration: none;
}

.search-bar input {
    width: 300px;
    height: 30px;
    font-size: 12px;
    border: 1px solid;
    border-radius: 5px;
    border-color: grey;
    padding: 5px;
}

.search-bar button {
    padding: 5px;
    border: 1px solid;
    border-radius: 5px;
    height: 30px;
    font-size: 18px;
}

.logged-in {
    color: whitesmoke;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.cart {
    color: whitesmoke;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.register-login {
    color: whitesmoke;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black ;
}

.logo {
    border: solid 5px #034e74;
    background-color: white;
    border-radius: 80px;
    overflow: hidden;
}

.cart {
    border: solid 3px #034e74;
    background-color: white;
    border-radius: 75%;
    overflow: hidden;
}