* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

 }

 .header {
    background-color: #023047;
    border-bottom: 1px black solid;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.delete-later {
    color: #fb8500;
}

.head-links{
    margin: 10px;
    color: white;
}

.head-links:hover {
    color: #fb8500; 
    text-decoration: none;
}