* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

 }

 .welcome{

    color: whitesmoke;
    display: flex;
    justify-content: center;
 }

 .all-products-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
 }

 .home-products{
   display: flex;
    border: black 5px solid;
    margin: 10px;
    padding: 30px;
    border-radius: 50px;
    width: 295px;
    justify-content: center;

 }
