* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

 }

 .welcome{

    color: red;
 }

 .all-products-container{
    display: flex;
    flex-wrap: wrap;
    
    
 }

 .home-products{
    border: black 5px solid;
    padding: 50px;
    border-radius: 50px;
 }
