/* import fonts here */

* {
  box-sizing: border-box;
  padding: 0;
  font-family:Verdana, Geneva, Tahoma, sans-serif;

}

body {

  background-color: white;
  /* background-color: #219ebc; */
  position: relative;
  width: 100vw;
  min-height: 100vh;

}

:root {
  /* define variables here */
  --green: green;
  --red: red;
  --blue: blue;
}

html {
  touch-action: manipulation;
}