* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.login-register{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-right: 100px;
}
h3{
    margin-bottom: 10px;
}
.login{
    float: left;
    border: solid #023047 ;
    padding: 20px;
    border-radius: 15px;
    background-color: #1d849e;
    color: whitesmoke;
    width: 285px;
    /* margin-bottom: 100px; */
}

.login-form{
    /* display: block; */
    
}

.register{
    border: solid #023047 ;
    float:right;
    padding: 20px;
    border-radius: 15px;
    background-color: #1d849e;
    color: whitesmoke;
    width: 285px;
}