* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

 }

.nav-bar-products-container{
    display: flex;
    justify-content: center;
    margin: 10px;
}

.nav-bar-products{
    border: black solid 2px;
    color: whitesmoke;
    padding: 10px;
    margin: 5px;
    font-weight: bold;
    border-radius: 5px;
    
    
    /* text-decoration: none; */
}

.search-bar{
    display: flex;
    justify-content: center;
    margin: 10px;
    border-radius: 5px;

}
