.all-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
    object-position: bottom;
    align-items: bottom;
}

.single-product {
    color: whitesmoke;
    border: solid;
    border-radius: 15px;
    width: 200px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #1d849e;
    text-align: center;

}

.single-product img {
    width: 150px;
    height: 150px;
    object-fit: contain;

}

.headers {
    align-self: center;
}

.btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*  */
}