/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */

/* .update {
    display: flex;
    text-align: right;
    align-items: center;
    justify-content: center;
}

.title {
    text-align: center;
    align-items: center;
    justify-content: center;
} */