.user-profile-container {
    max-width: fit-content;
    margin: auto;

}


/* .update {
    display: flex;
    text-align: right;
    align-items: center;
    justify-content: center;
}

.title {
    text-align: center;
    align-items: center;
    justify-content: center;
} */