.user-profile-container {
    /* max-width: fit-content; */
    display: flex;
    margin: 30px;
    flex-wrap: wrap;
    margin-bottom: 30px;
    justify-content: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.user-profile-container-left {
    float: left;
    padding: 10px;
}

.user-profile {
    border: solid #023047;
    padding: 20px;
    border-radius: 15px;
    background-color: #1d849e;
    color: whitesmoke;
    width: 400px;
}


.update-profile {
    border: solid #023047;
    padding: 20px;
    border-radius: 15px;
    background-color: #1d849e;
    color: whitesmoke;
    width: 400px;
    display: flex;
    text-align: right;
    align-items: center;
    justify-content: center;
}

.update-profile label {
    display: inline-block;
    text-align: right;
    display: inline-flex;
    text-align: right;
    align-items: right;
    justify-content: right;
}

.update-profile input {
    margin: 3px 0px 3px 10px;
}

.user-profile-container-right {
    float: left;
    padding: 10px;
}

.order-history {
    float: right;
    border: solid #023047;
    padding: 20px;
    border-radius: 15px;
    background-color: #1d849e;
    color: whitesmoke;
    width: 450px;
}

.title {
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
} 