.Search {
    margin: 10px;
    text-align: center;
    font-size: 12px;
}

.title {
    margin: 0;
}

#search-bar {
    margin: 50px 20px 30px;
    width: 30vw;
    height: 2rem;
    font-size: 1rem;
}


.Search button {
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    /* height: 2rem; */
    font-size: 18 px;
    margin-left: 5px;
    padding: 5px;
}

.Search ul {
    text-align: left;
}