.single-prod {
    text-align: center;
    color: black;
    margin: 30px;
    display: inline-flex;
}

.single-prod-image {
    float: left;
    width: 60%;
    object-fit: contain;
}

.single-prod-info {
    float: right;
    width: 30%;
    margin-left: 30px;
    color: whitesmoke;
    border-radius: 15px;
    width: 35vw;
    height: 50vh;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #1d849e;
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.btn-container {
    display: flex;
    align-content: flex-end;
}

.add-to-cart-button{
    border-radius: 15px;
    border: none;
    margin: 0%;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #023047;
    color: whitesmoke;
    cursor: pointer;
}

h2 {
    color: #023047;
}