.single-prod {
    text-align: center;
    color: black;
    margin: 30px;
    display: inline-flex
}

.single-prod-image {
    float: left;
    width: 60%;
    object-fit: contain;
}

.single-prod-info {
    float: right;
    width: 30%;
    text-align: left;
    margin-left: 30px;

}